<div class="container">
  <h1 style="margin-bottom: .5rem;">One more step</h1>

  <p style="margin-bottom: 1.25rem;">Please enter the code word to continue…</p>

  <% if @wrong %>
    <div class="alert" style="margin-bottom: 1rem;">
      <p>Hmm… that doesn't seem right. Try again?</p>
    </div>
  <% end %>

  <%= form_tag '/codeword/unlock' do %>
    <% if params[:return_to].present? %>
      <%= hidden_field_tag 'return_to', params[:return_to] %>
    <% elsif @return_to.present? %>
      <%= hidden_field_tag 'return_to', @return_to %>
    <% end %>

    <% unless @wrong == true %>
      <%= password_field_tag 'codeword', nil, placeholder: "Code word", autofocus: true, required: true %>
    <% else %>
      <%= password_field_tag 'codeword', @codeword, class: 'nope', autofocus: true, required: true %>
    <% end %>

    <% if codeword_hint %>
      <small title="<%= codeword_hint %>" class="hint">Hint</small>
    <% end %>

    <p>
      <%= button_tag 'Go', class: 'button', style: 'margin-top: .75rem;' %>
    </p>
  <% end %>
</div>
